.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b7d4dc;
}

section {
    scroll-snap-align: start;
}

html {
    scroll-snap-type: y mandatory;
}

#page1 {
    height: 75vh;
}

#page2, #page3, #page4, #page5 {
    height: 95vh;
}

/*
*
*** PAGINA 1 ***
*
*/

.cabina-transmicable {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 62vh;
    margin-top: -3.5%;
}

.titulo-primera-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin-right: 3%;
    margin-left: 3%;
}

.logo-resource {
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/*
*
*** PAGINA 2 ***
*
*/

.banner-subtitulo {
    min-height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-banner-subtitulo {
    color: white;
}

.parrafo-pagina-2-container {
    display: flex;
    justify-content: center;
}

.parrafo-pagina-2 {
    text-align: justify;
    text-justify: inter-word;
    color: #32677F;
    width: 30vw;
}

.abordaje-cabina {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 62vh;
    margin-top: -15%;
}

.mountains {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
}

/*
*
*** PAGINA 3 ***
*
*/

.mapa-transmicable {
    min-height: 100vh;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 3%;
}

/*
*
*** PAGINA 4 ***
*
*/

.mountains-personaje-1 {
    padding-top: 6%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 95vh;
}

.audio-1 {
    min-height: 18vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 22%;
    cursor: pointer;
}

.audio-1-column {
    padding-left: 5%;
}

.bubble-1 {
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bubble-1-column {
    display: flex;
    justify-content: center;
    padding-left: 5%;
}

.personaje-1-mobile-col {
    display: none;
}

.personaje-1-mobile {
    display: none;
}

/*
*
*** PAGINA 5 ***
*
*/

.banner-subtitulo-larger {
    min-height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.carousel-mobile {
    display: none;
}

.moving-image-right {
    animation: moveLeftToRight 15s linear infinite; /* Adjust duration and timing function as per your preference */
}

.debug {
    outline: red dashed 5px;
}

.debug-aux {
    outline: black dashed 5px;
}

/*
*** EXTRA SMALL DEVICES ***
 */

@media (max-width: 375px) {

    #page1 {
        height: 80vh;
    }

    #page2, #page3, #page4, #page5 {
        height: 90vh;
    }

    /*PAGINA 1*/
    .cabina-transmicable {
        min-height: 40vh !important;
        margin-top: -4.5% !important;
        background-size: contain !important;
        background-position: center !important;
    }

    .titulo-primera-pagina {
        margin-top: 8% !important;
    }

    .titulo-primera-pagina h1 {
        font-size: 1.675rem !important;
    }

    .titulo-primera-pagina h2 {
        font-size: 1.375rem !important;
    }

    .logo-container {
        margin-right: 0% !important;
        margin-left: 0% !important;
        margin-bottom: 5%;
    }

    .logo-resource {
        width: 100% !important;
    }

    /*PAGINA 2*/
    .banner-subtitulo {
        min-height: 10vh !important;
        transform: scaleX(-1) !important;
        margin-right: 11%;
    }

    .texto-banner-subtitulo {
        transform: scaleX(-1) !important;
    }

    .parrafo-pagina-2-container {
        height: 30vh;
        overflow: auto;
        margin-bottom: 5%;
    }

    .parrafo-pagina-2 {
        font-size: clamp(0.725rem, 2.5vw, 0.785rem) !important;
        padding: 0.5rem 1.5rem;
        width: unset !important;
    }

    .abordaje-cabina {
        background-position: center bottom !important;
        background-size: contain !important;
        background-image: url("../../assets/images/abordaje_mobile.png") !important;
        margin-top: -30% !important;
    }

    /*PAGINA 3*/
    .mapa-transmicable-container {
        margin-top: 5%;
    }

    .mapa-transmicable {
        background-image: url("../../assets/images/mapa_mobile.png") !important;
    }

    /*PAGINA 4*/
    .mountains-personaje-1 {
        background-image: url("../../assets/images/mountains.png") !important;
    }

    .audio-1 {
        display: none !important;
    }

    .bubble-1-column {
        display: none;
    }

    .personaje-1-mobile {
        height: 85vh;
        display: flex !important;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .personaje-1-mobile-col {
        display: flex;
        justify-content: center;
    }

    /*PAGINA 5*/
    .banner-subtitulo-larger {
        display: none;
    }

    .carousel-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-mobile-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
    }

    .imagenes-resultado-trust {
        display: none;
    }

    .carousel-container {
        padding-left: unset;
    }

}

/*
*** MOBILE DEVICES ***
 */

@media (min-width: 376px) and (max-width: 430px) {

    #page1 {
        height: 80vh;
    }

    #page2, #page3, #page4, #page5 {
        height: 90vh;
    }

    /*PAGINA 1*/
    .cabina-transmicable {
        min-height: 42vh !important;
        margin-top: -4.5% !important;
        background-size: contain !important;
        background-position: center !important;
    }

    .titulo-primera-pagina {
        margin-top: 8% !important;
    }

    .titulo-primera-pagina h1 {
        font-size: 1.87rem !important;
    }

    .titulo-primera-pagina h2 {
        font-size: 1.57rem !important;
    }

    .logo-container {
        margin-right: 0% !important;
        margin-left: 0% !important;
        margin-bottom: 5%;
    }

    .logo-resource {
        width: 100% !important;
    }

    /*PAGINA 2*/
    .banner-subtitulo {
        min-height: 10vh !important;
        transform: scaleX(-1) !important;
        margin-right: 11%;
    }

    .texto-banner-subtitulo {
        transform: scaleX(-1) !important;
    }

    .parrafo-pagina-2-container {
        height: clamp(30vh, 35vh, 40vh);
        overflow: auto;
    }

    .parrafo-pagina-2 {
        font-size: clamp(0.725rem, 4vw, 0.785rem) !important;
        padding: 0.5rem 1.5rem;
        width: unset !important;
    }

    .abordaje-cabina {
        background-position: bottom !important;
        background-size: contain !important;
        background-image: url("../../assets/images/abordaje_mobile.png") !important;
        margin-top: -50% !important;
    }

    /*PAGINA 3*/
    .mapa-transmicable-container {
        margin-top: 5%;
    }

    .mapa-transmicable {
        background-image: url("../../assets/images/mapa_mobile.png") !important;
    }

    /*PAGINA 4*/
    .mountains-personaje-1 {
        background-image: url("../../assets/images/mountains.png") !important;
        margin-top: unset !important;

    }

    .audio-1 {
        display: none !important;
    }

    .bubble-1-column {
        display: none;
    }

    .personaje-1-mobile {
        height: 85vh;
        display: flex !important;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .personaje-1-mobile-col {
        display: flex;
        justify-content: center;
    }

    /*PAGINA 5*/
    .banner-subtitulo-larger {
        display: none;
    }

    .imagenes-resultado-trust {
        display: none;
    }

    .carousel-mobile {
        display: flex;
        justify-content: center;
    }

    .carousel-mobile-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
    }

    .carousel-container {
        padding-left: unset !important;
    }

}

/*
*** TABLET DEVICES ***
 */

@media (min-width: 431px) and (max-width: 1080px) {

    #page1 {
        height: 80vh;
    }

    #page2, #page3, #page4, #page5 {
        height: 90vh;
    }

    /*PAGINA 1*/
    .cabina-transmicable {
        min-height: 40vh !important;
        margin-top: -4% !important;
        background-size: contain !important;
        background-position: center !important;
    }

    .titulo-primera-pagina {
        margin-top: 5% !important;
    }

    .titulo-primera-pagina h1 {
        font-size: 2.15rem !important;
    }

    .titulo-primera-pagina h2 {
        font-size: 1.8rem !important;
    }

    .logo-container {
        margin-right: 0% !important;
        margin-left: 0% !important;
    }

    .logo-resource {
        width: 90% !important;
    }

    /*PAGINA 2*/
    .banner-subtitulo {
        min-height: 8vh !important;
        margin-bottom: 8%;
    }

    .parrafo-pagina-2-container {
        height: clamp(45vh, 45vh, 55vh);
        overflow: auto;
    }

    .parrafo-pagina-2 {
        font-size: clamp(0.725rem, 4vw, 1rem) !important;
        padding: 0.5rem 1.5rem;
        width: unset !important;
    }

    .abordaje-cabina {
        background-position: bottom !important;
        background-size: contain !important;
        margin-top: -72% !important;
    }

    /*PAGINA 3*/
    #page3 {
        overflow: auto;
    }

    .mapa-transmicable {
        background-image: url("../../assets/images/mapa_mobile.png") !important;
        min-height: 80vh;
        overflow: auto;
    }

    /*PAGINA 4*/
    .mountains-personaje-1 {
        background-image: url("../../assets/images/mountains.png") !important;
        margin-top: unset !important;
    }

    .audio-1 {
        display: none !important;
    }

    .bubble-1-column {
        display: none;
    }

    .personaje-1-mobile {
        height: 85vh;
        display: flex !important;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .personaje-1-mobile-col {
        display: flex;
        justify-content: center;
    }

    /*PAGINA 5*/
    .banner-subtitulo-larger {
        display: none;
    }

    .carousel-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .carousel-mobile-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }

    .imagenes-resultado-trust {
        display: none;
    }

    .carousel-container {
        padding-left: unset;
    }

}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-125%);
    }
    100% {
        transform: translateX(125%); /* Adjust the percentage to move the image across the X-axis */
    }
}